<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ style.css in uofm-intro-html5 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

body {
  font-family: Bahnschrift;
  color: #fff;
  background-color: #fff;
}

p.highlight {
  background-color: yellow;
  color: #333;
}

img {
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}
